.custom-padding-xs { padding: .25em; }
.custom-padding-sm { padding: .5em; }
.custom-padding-md { padding: 1em; }
.custom-padding-lg { padding: 1.5em; }
.custom-padding-xl { padding: 3em; }

.custom-padding-x-xs { padding: .25em 0; }
.custom-padding-x-sm { padding: .5em 0; }
.custom-padding-x-md { padding: 1em 0; }
.custom-padding-x-lg { padding: 1.5em 0; }
.custom-padding-x-xl { padding: 3em 0; }

.custom-padding-y-xs { padding: 0 .25em; }
.custom-padding-y-sm { padding: 0 .5em; }
.custom-padding-y-md { padding: 0 1em; }
.custom-padding-y-lg { padding: 0 1.5em; }
.custom-padding-y-xl { padding: 0 3em; }

.custom-padding-top-xs { padding-top: .25em; }
.custom-padding-top-sm { padding-top: .5em; }
.custom-padding-top-md { padding-top: 1em; }
.custom-padding-top-lg { padding-top: 1.5em; }
.custom-padding-top-xl { padding-top: 3em; }

.custom-padding-right-xs { padding-right: .25em; }
.custom-padding-right-sm { padding-right: .5em; }
.custom-padding-right-md { padding-right: 1em; }
.custom-padding-right-lg { padding-right: 1.5em; }
.custom-padding-right-xl { padding-right: 3em; }

.custom-padding-bottom-xs { padding-bottom: .25em; }
.custom-padding-bottom-sm { padding-bottom: .5em; }
.custom-padding-bottom-md { padding-bottom: 1em; }
.custom-padding-bottom-lg { padding-bottom: 1.5em; }
.custom-padding-bottom-xl { padding-bottom: 3em; }

.custom-padding-left-xs { padding-left: .25em; }
.custom-padding-left-sm { padding-left: .5em; }
.custom-padding-left-md { padding-left: 1em; }
.custom-padding-left-lg { padding-left: 1.5em; }
.custom-padding-left-xl { padding-left: 3em; }

.custom-margin-xs { margin: .25em; }
.custom-margin-sm { margin: .5em; }
.custom-margin-md { margin: 1em; }
.custom-margin-lg { margin: 1.5em; }
.custom-margin-xl { margin: 3em; }

.custom-margin-x-xs { margin: .25em 0; }
.custom-margin-x-sm { margin: .5em 0; }
.custom-margin-x-md { margin: 1em 0; }
.custom-margin-x-lg { margin: 1.5em 0; }
.custom-margin-x-xl { margin: 3em 0; }

.custom-margin-y-xs { margin: 0 .25em; }
.custom-margin-y-sm { margin: 0 .5em; }
.custom-margin-y-md { margin: 0 1em; }
.custom-margin-y-lg { margin: 0 1.5em; }
.custom-margin-y-xl { margin: 0 3em; }

.custom-margin-top-xs { margin-top: .25em; }
.custom-margin-top-sm { margin-top: .5em; }
.custom-margin-top-md { margin-top: 1em; }
.custom-margin-top-lg { margin-top: 1.5em; }
.custom-margin-top-xl { margin-top: 3em; }

.custom-margin-right-xs { margin-right: .25em; }
.custom-margin-right-sm { margin-right: .5em; }
.custom-margin-right-md { margin-right: 1em; }
.custom-margin-right-lg { margin-right: 1.5em; }
.custom-margin-right-xl { margin-right: 3em; }

.custom-margin-bottom-xs { margin-bottom: .25em; }
.custom-margin-bottom-sm { margin-bottom: .5em; }
.custom-margin-bottom-md { margin-bottom: 1em; }
.custom-margin-bottom-lg { margin-bottom: 1.5em; }
.custom-margin-bottom-xl { margin-bottom: 3em; }

.custom-margin-left-xs { margin-left: .25em; }
.custom-margin-left-sm { margin-left: .5em; }
.custom-margin-left-md { margin-left: 1em; }
.custom-margin-left-lg { margin-left: 1.5em; }
.custom-margin-left-xl { margin-left: 3em; }

.custom-d-flex {
    display: flex;
 }

 .custom-justify-content-center {
    justify-content: center;
 }

 .custom-large-gap {
    margin-top: 3rem;
    margin-bottom: 3rem;
 }

 .custom-width-50 {
    width: 50%;
 }